<div>
    <h3>Forget Password</h3>
    <ng-container *ngIf="!responseType || responseType === 'invalidUser'; else responseTemplate">
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <div>
                <label>Please enter your registered email or mobile number to get link for changing password on your
                    email.</label>
                <input type="text" (keydown)="onKeyUp('username'); setEmailPhoneValidator()"
                    placeholder="Email or mobile number" formControlName="username">
                <div class="error-text">
                    <div *ngIf="submitted && f.username.errors">
                        <div *ngIf="f.username.errors.required">Email or Mobile number is required</div>
                        <div *ngIf="f.username.errors.email">Please enter a valid email address</div>
                        <div *ngIf="f.username.errors.minlength || f.username.errors.maxlength">Mobile number must
                            contain 10 digits</div>
                    </div>
                    <div *ngIf="responseType === 'error'">Some error occured. please try again.</div>
                    <div *ngIf="responseType === 'invalidUser'">User with given
                        {{userNameType == 'email'?'Email':'Phone number'}} does not exists.</div>
                </div>
            </div>
            <input type="submit" [value]="!isProcessing?'Submit':'Processing...'">
        </form>
    </ng-container>
    <ng-template #responseTemplate>
        <div class="update-path-container">
            <div *ngIf="responseType === 'success'" class="light-text">A link for resetting your password is sent to
                your registered email.
                Please check your email and follow given instructions.
            </div>
            <div *ngIf="responseType === 'userNotVerified'"><span class="light-text">Your email is not yet verified.
                    Please verify your email
                    first to reset your password.</span><br> <a class="update-path"
                    [routerLink]="['/resend-verification-email', resendEmailKey]">Click
                    here</a><span class="light-text"> if you want to resend verification email.</span>
            </div>
        </div>
    </ng-template>
    <div class="margin-left"><a class="update-path" routerLink="/login">Click here</a><span class="light-text"> to move
            to login page.</span>
    </div>
</div>