<div>
    <h3>Reset Password</h3>
    <ng-container *ngIf="responseType == 'valid' || responseType == 'error'; else elseTemplate">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div>
                <label>Please enter the password you want to set for your account.</label>
                <input type="password" (keyup)="onKeyUp()" placeholder="Password" formControlName="password">
                <div *ngIf="submitted && f.password.errors" class="error-text">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be atleast 6 characters long</div>
                </div>
            </div>
            <div>
                <input type="password" (keyup)="onKeyUp()" placeholder="Confirm Password"
                    formControlName="confirmPassword">
                <div *ngIf="submitted && f.confirmPassword.errors" class="error-text">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                    <div *ngIf="f.confirmPassword.errors.minlength">Confirm password must be atleast 6 characters long
                    </div>
                </div>
                <div *ngIf="isPasswordMismatched" class="error-text">Password and confirm password did not match.</div>
            </div>
            <input [disabled]="isProcessing" type="submit" [value]="!isProcessing?'Submit':'Processing...'">
        </form>
        <p class="error-text" *ngIf="responseType == 'error'">Some error occured. please try again.</p>        
    </ng-container>
    <ng-template #elseTemplate>
        <br>
        <p class="margin-left" *ngIf="responseType == 'success'">Your password is reset successfully.</p>
        <p class="margin-left" *ngIf="responseType == 'invalid' || responseType == 'expired'">Sorry this is an invalid token or token may be expired.</p>
        <p class="margin-left" *ngIf="!responseType">We are verifying token. Please wait...</p>
        <br>
    </ng-template>
    <div class="margin-left"><a class="update-path" routerLink="/login">Click here</a><span class="light-text"> to move
            to login page.</span>
    </div>
</div>