#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    color: #fff;
    transition: all 0.5s;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.5;
    position: fixed;
}

#sidebar.hidden {
    margin-left: -200px;
}

a[data-toggle="collapse"] {
    position: fixed;
}

a,
a:hover,
a:focus {
    color: inherit;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    width: 100%;
    border-bottom: solid 1px rgba(11, 14, 214, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &:hover {
        background-color: rgba(11, 14, 214, 0.3);
    }
}

.active-link {
    background-color: rgba(11, 14, 214, 0.3);
}

hr {
    border-top: 1px solid #fff;
    margin-top: 0;
}

.bottom-content {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidenav-signout{
    margin-top: -5px;
    background-color: #05036b;
    width: 150px;
    font-weight: bolder;
    border-radius: 30px;
    cursor: pointer;
}

.gender-image{
    height: 65px;
    width: 65px;
    margin-bottom: 5px;
}
