/* You can add global styles to this file, and also import other style files */
.toast-error {
    background-color: #ec0f0f !important;
}

.toast-success {
    // background-color: #16b307 !important;
    background-color: #20a50a !important;
}

.toast-warning {
    background-color: #ff8901 !important;
}

.toast-info {
    background-color: #0a34a7 !important;
}

.ngx-toastr {
    font-size: 15px;
    font-weight: 600 !important;
    border-radius: 10px !important;
}

.error-text {
    color: #fd1d1d;
    font-size: 1vw;
    margin-bottom: -1vw;
    @media only screen and (max-width: 420px) {
        font-size: 4.5vw;
        padding: -1.5vw;
        margin-bottom: -1.5vw;
    }
}

.validation-error {
    color: #fd1d1d;
    font-size: 1.1vw;
    font-weight: bolder;
    margin-bottom: -1vw;
    @media only screen and (max-width: 420px) {
        font-size: 4.5vw;
        padding: -1.5vw;
        margin-bottom: -1.5vw;
    }
}

@import "./style-bootstrap.scss";
@import "./style-common.scss";