<div class="auth-bg">
    <div class="split left">
        <div class="all-centered">
            <div class="comp-container">
                <div class="comp-title">{{application}}</div>
                <div class="comp-tagline">Hire your service ninjas today.</div>
            </div>
        </div>
    </div>
    <div class="split right">
        <div class="all-centered">
            <div class="wrap">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>