.auth-bg {
  background: url(../../assets/images/outsite-co-R-LK3sqLiBw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: 50% 50%;
  background-color: #282b32;
  font-family: Arial;
  padding-top: 1px;
  margin-top: -1px;
  position: relative;
}

.wrap {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 25px;
  color: #fff;
  max-width: 24vw;
  margin: auto;
  min-height: 32vw;
  @media only screen and (min-width: 900px) {
    margin-right: 18vw;
  }  

  @media only screen and (min-width: 700px) and (max-width: 900px) {
    max-width: 50vw;
    margin-right: 18vw;
  }
  @media only screen and (min-width: 550px) and (max-width: 700px) {
    max-width: 60vw;
  }
  @media only screen and (min-width: 420px) and (max-width: 550px) {
    max-width: 77vw;
  }
  @media only screen and (max-width: 420px) {
    max-width: 85vw;
  }
  overflow: hidden;
}

.msg-container {
  padding-top: 10vw;
}

.comp-container {
  background: rgba(200, 120, 105, 0.35);
  text-align: center;
  border-radius: 20px;
  max-width: 22vw;
  margin: auto;
  @media only screen and (min-width: 700px) {
    margin-left: 18vw;
  }
}

/* Split the screen in half */
.split {
  @media only screen and (min-width: 700px) {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
}

/* Control the left side */
.left {
  @media only screen and (min-width: 700px) {
    left: 0;
  }
  @media only screen and (max-width: 699px) {
    display: none;
  }
}

/* Control the right side */
.right {
  @media only screen and (min-width: 700px) {
    right: 0;
  }
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0%, -50%);
  @media only screen and (min-width: 700px) {
    left: 10%;
  }
}

h2 {
  text-align: center;
  font-size: 3vw;
  @media only screen and (min-width: 600px) and (max-width: 850px) {
    font-size: 4.5vw;
  }
  @media only screen and (min-width: 420px) and (max-width: 600px) {
    font-size: 5.5vw;
  }
  @media only screen and (max-width: 420px) {
    font-size: 7vw;
  }
}

input[type="text"],
input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8vw 0.5vw;
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  border-radius: 5px;
  margin: 0.3vw;
  font-weight: bold;
  font-size: 1.2vw;
  
  @media only screen and (min-width: 600px) and (max-width: 850px) {
    font-size: 2.6vw;
  }
  @media only screen and (min-width: 420px) and (max-width: 600px) {
    font-size: 4vw;
  }
  @media only screen and (max-width: 420px) {
    font-size: 5.5vw;
    padding: 1.5vw;
  }
}

input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 1.5vw;
  margin-bottom: 0.8vw;
  outline: none;
  border: none;
  background: #3e32a8;
  opacity: 0.7;
  border-radius: 20px;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  @media only screen and (min-width: 600px) and (max-width: 850px) {
    font-size: 2.3vw;
  }
  @media only screen and (min-width: 420px) and (max-width: 600px) {
    font-size: 3.8vw;
  }
  @media only screen and (max-width: 420px) {
    font-size: 5vw;
    margin-top: 3.5vw;
    margin-bottom: 2.8vw;
  }
}

.update-path {
  font-weight: bold;
}

.redirect-link {
  color: #007bff;
  font-weight: bold;
  font-size: 1.15vw;
  cursor: pointer;
  @media only screen and (min-width: 600px) and (max-width: 850px) {
    font-size: 2.3vw;
  }
  @media only screen and (min-width: 420px) and (max-width: 600px) {
    font-size: 3.8vw;
  }
  @media only screen and (max-width: 420px) {
    font-size: 5vw;
  }
}

.update-path-container {
  text-align: center;
  font-size: 1.15vw;
  @media only screen and (min-width: 600px) and (max-width: 850px) {
    font-size: 2.3vw;
  }
  @media only screen and (min-width: 420px) and (max-width: 600px) {
    font-size: 3.8vw;
  }
  @media only screen and (max-width: 420px) {
    font-size: 5vw;
  }
}

.function-link {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.15vw;
}

.social-button-container {
  margin: 10px 0px;
}

.social-button {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8vw 0vw;
  margin: 0vw 0.4vw;
  outline: none;
  border: none;
  background: #fff;
  opacity: 0.85;
  border-radius: 25px;
  font-size: 1.4vw;
  font-weight: bold;
  @media only screen and (min-width: 600px) and (max-width: 850px) {
    font-size: 2.3vw;
  }
  @media only screen and (min-width: 420px) and (max-width: 600px) {
    font-size: 3.8vw;
  }
  @media only screen and (max-width: 420px) {
    font-size: 5vw;
    padding: 3vw 1vw;
  }
}

.g-login {
  color: red;
}

.f-login {
  color: #0136be;
}

.social-logo {
  width: 20px;
  height: 20px;
}

.social-logo1 {
  width: 22.5px;
  height: 25px;
}

.comp-title {
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 5vw;
  font-weight: 900;
  color: #47030f;
}

.comp-tagline {
  font-size: 1.4vw;
  font-weight: 900;
  color: #660715;
}

.error-text {
  color: #fd1d1d;
  font-size: 1vw;
  margin-bottom: -1vw;
  @media only screen and (max-width: 420px) {
    font-size: 4.5vw;
    padding: -1.5vw;
    margin-bottom: -1.5vw;
  }
}